.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge__add {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  top: 60px;
  right: 15px;
}
